//
   Created by SMARTINEZ on 25/10/2018.
//.fixed-top(data-aos="fade-down")
nav.nav.bgc--lightMoreBlue.py-3
  .container
    .row
      .col-12.col-md-auto
        a.btn_link--top(href="#")
          strong Endocountry Ltda.
          |   Cra 16 No. 82 -57  Piso 6 - Clinica Country
      .col-12.col-md-4.ml-auto
        a.btn_link--top(href="#")
          | Tel: 5301349 - 8051526
        a.btn_link--top.mg_left--x5(href="#")
          | contacto@endocountry.com
nav#header.navbar.navbar-expand-lg.pt-4.pb-4.top-bar.navbar-static-top.sps.sps--abv.bgc--white
  .container
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarCollapse1' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
        svg#icon-menu(viewbox='0 0 24 13' width='100%' height='100%')
          title menu
          path(d='M.75 1.515h22.498a.75.75 0 0 0 0-1.5H.75a.75.75 0 0 0 0 1.5zM23.248 5.265H8.168a.75.75 0 0 0 0 1.5h15.08a.75.75 0 0 0 0-1.5zM23.248 10.514H4.322a.75.75 0 0 0 0 1.5h18.926a.75.75 0 0 0 0-1.5z')

    a.navbar-brand.mx-auto(href='/7/docs/')
      span.hidden Endocountry
      .logo_box
        span#logo.logo_endoco
    #navbarCollapse1.collapse.navbar-collapse
      ul.navbar-nav.ml-2.text-center.text-lg-right.ml-auto
        li.nav-item.active
          a.nav-link(href='/') Inicio
        li.nav-item
          a.nav-link(href='/nosotros.html') Nosotros
        li.nav-item
          a.nav-link(href='/7/docs/faq.html') Servicios
        li.nav-item
          a.nav-link(href='/7/docs/contact.html') Contacto