extends ./base/layout.pug
block vars
    - var page = 'home'
    - var title="Inicio ";
    - var subtitle="Endocountry";
        - var description="Bienvenidos a endocountry,empresa dedicada a la prestación de servicios ambulatorios como endoscopia, colonoscopia, manometria, ph-metria, ecoendoscopia, enteroscopia entre otros.";
        - var abstract=''
        - var keywords='Esofagogastroduodenoscopia(Endoscopia Alta), Colocación de balón para obesidad, Ph Metría 24 Horas, Manometría Esofágica, Dilatación Esofágica, Extracción cuerpos extraños,Escleroterapia y ligadura de varices esofágicas,Endoscopia para control de sangrado,Colocación guiada de sondas para alimentación, Gastrostomía y yeyunostomia endoscopicas, Colocación de prótesis en esófago, estómago, colón y recto, Biopsias gástricas e intestinales,Polipectomía gástrica, duodenal e intestinal,Colangiopancreatografía Retrograda,Colocación prótesis vía biliar,Papilotomía esfinterotomía endoscópicas,Instrumentación vía biliar, Endoscopia intraoperatoria,Colonoscopia Total (Endoscopia Baja),Rectosigmoidoscopia Flexible,Rectosigmoidoscopia Rígida,Anoscopia,Trombectomía hemorroides,Ligadura de hemorroides,Manometría Rectal,Colonoscopia para descomprensión de volvulus,ecoendoscopia, enteroscopia.etc'
        - var url='www.Endocountry.com'
        - var image=''
        - var canonical=''
        - var shortlink=''
block content
    .wrapper
        section.position-relative.slider_overflow
            ul.slider_intro
                li.slider_item.slider_item--bgi(style="background-image: url('images/slider_home/img-001.jpg')")
                    .container
                        .row.align-items-center
                            .col-12.col-md-6.cl--white.text-center.text-sm-right.text-md-left
                                .title.mb-2(data-aos="fade-up", data-aos-duration="3000")
                                    .txt_two.display-2.txt_semisemibold Gastroenterología y endoscopia
                                .intro.mb-5(data-aos="fade-up", data-aos-duration="3000")
                                    .txt_size--em2
                                        span.txt_bold Pensando en su bienestar, ofrecemos atención de alta calidad, responsable y con compromiso ético y humano.
                                .action.mb-2(data-aos="fade-up", data-aos-duration="3000")
                                    ul.list--inline.list_two_item
                                        li
                                            a.btn.btn_site--white.cl--blue.btn-sm.btn_full--lg(href='#')
                                                i.fa
                                                | Saber Más
                            .col-12.col-md-6
                li.slider_item.slider_item--bgi(style="background-image: url('images/slider_home/img-002.jpg')")
                    .container
                        .row.align-items-center
                            .col-12.col-md-6.cl--white.text-center.text-sm-right.text-md-left
                                .title.mb-2
                                    .txt_two.display-2.txt_semisemibold Gastroenterología y endoscopia
                                .intro.mb-5
                                    .txt_size--em2
                                        span.txt_bold Pensando en su bienestar, ofrecemos atención de alta calidad, responsable y con compromiso ético y humano.
                                .action.mb-2
                                    ul.list--inline.list_two_item
                                        li
                                            a.btn.btn_site--white.cl--blue.btn-sm.btn_full--lg(href='#')
                                                i.fa
                                                | Saber Más
                            .col-12.col-md-6
                li.slider_item.slider_item--bgi(style="background-image: url('images/slider_home/img-003.jpg')")
                    .container
                        .row.align-items-center
                            .col-12.col-md-6.cl--white.text-center.text-sm-right.text-md-left
                                .title.mb-2
                                    .txt_two.display-2.txt_semisemibold Gastroenterología y endoscopia
                                .intro.mb-5
                                    .txt_size--em2
                                        span.txt_bold Pensando en su bienestar, ofrecemos atención de alta calidad, responsable y con compromiso ético y humano.
                                .action.mb-2
                                    ul.list--inline.list_two_item
                                        li
                                            a.btn.btn_site--white.cl--blue.btn-sm.btn_full--lg(href='#')
                                                i.fa
                                                | Saber Más
                            .col-12.col-md-6
                li.slider_item.slider_item--bgi(style="background-image: url('images/slider_home/img-004.jpg')")
                    .container
                        .row.align-items-center
                            .col-12.col-md-6.cl--white.text-center.text-sm-right.text-md-left
                                .title.mb-2
                                    .txt_two.display-2.txt_semisemibold Gastroenterología y endoscopia
                                .intro.mb-5
                                    .txt_size--em2
                                        span.txt_bold Pensando en su bienestar, ofrecemos atención de alta calidad, responsable y con compromiso ético y humano.
                                .action.mb-2
                                    ul.list--inline.list_two_item
                                        li
                                            a.btn.btn_site--white.cl--blue.btn-sm.btn_full--lg(href='#')
                                                i.fa
                                                | Saber Más
                            .col-12.col-md-6
        //Tres items Intro
        section.box--intro
            .container
                .row.box_shadow
                    .col-12.col-md-4.bgc--steeblue.cl--white.pd_box--x50(data-aos="fade-up", data-aos-duration="3000")
                        .box_icon.d-block.mb-5
                            i.icon.icon_tecnologia--white
                        .title.cl--white.mb-5
                            h3 Tecnologia
                        .paragraf.cl--white.mb-5
                            p Equipos con tecnología de punta son nuestros instrumentos para ofrecer el mejor servicio.
                    .col-12.col-md-4.bgc--lightBlue.cl--white.pd_box--x50(data-aos="fade-up", data-aos-duration="3000")
                        .box_icon.d-block.mb-5
                            i.icon.icon_especialist--white
                        .title.cl--white.mb-5
                            h3 Especialistas
                        .paragraf.cl--white.mb-5
                            p Contamos con los mejores especialistas quienes brindan una atención humana y ética.
                        .action
                            a.btn_link--underline
                    .col-12.col-md-4.bgc--blue.cl--white.pd_box--x50(data-aos="fade-up", data-aos-duration="3000")
                        .title.cl--white.mb-5
                            h3 Horario de atención
                        .paragraf.cl--white.mb-5
                            p Para programar una cita comuniquese en este horario:
                        ul.list
                            li
                                b Lunes a Viernes
                            li
                                p 7.00 am - 5.00 pm
                            li
                                b Sábado
                            li
                                p 7.00 am - 12.00 pm
        // Service Items
        section.py-5
            .container
                .row
                    .col
                        .title.cl--blue.txt_center.txt_bold.my-5(data-aos="fade-up", data-aos-duration="3000")
                            h2 Los servicios que prestamos
                .row
                    .col-12.col-md-6.pd_box_items--home(data-aos="fade-up", data-aos-duration="3000")
                        .title.cl--gray.mb-5
                            h3 Endoscopia
                        .paragraf.cl--gray.mb-5
                            p Consiste en la introducción de una cámara o lente dentro de un tubo o endoscopio a través de un orificio natural.
                        .action.mb-5
                            a(href="/endocu/servicios.html") Leer más
                    .col-12.col-md-6.pd_box_items--home(data-aos="fade-up", data-aos-duration="3000")
                        .title.cl--gray.mb-5
                            h3 Endoscopia
                        .paragraf.cl--gray.mb-5
                            p Es una herramienta nueva que se dispone para la evaluación endoscópica del intestino delgado, se puede hacer por vía oral o anal.
                        .action.mb-5
                            a(href="/endocu/servicios.html") Leer más
                .row
                    .col-12.col-md-6.pd_box_items--home(data-aos="fade-up", data-aos-duration="3000")
                        .title.cl--gray.mb-5
                            h3 Colonoscopia
                        .paragraf.cl--gray.mb-5
                            p La colonoscopia y rectosigmoidoscopia son procedimientos que han venido reemplazando las técnicas radiológicas con medio de contraste para el estudio del recto y colon.
                        .action.mb-5
                            a(href="/endocu/servicios.html") Leer más
                    .col-12.col-md-6.pd_box_items--home(data-aos="fade-up", data-aos-duration="3000")
                        .title.cl--gray.mb-5
                            h3 Preparación colonoscopia
                        .paragraf.cl--gray.mb-5
                            p Lea cuidadosamente las siguientes instrucciones y de esta manera obtendrá una buena preparación, requisito indispensable para un examen de buena calidad.
                        .action.mb-5
                            a(href="/endocu/servicios.html") Leer más
                .row
                    .col-12.col-md-6.pd_box_items--home(data-aos="fade-up", data-aos-duration="3000")
                        .title.cl--gray.mb-5
                            h3 PH-Metria
                        .paragraf.cl--gray.mb-5
                            p Consiste en pasar al esófago un cable muy delgado que se deja conectado a una grabadora por 24 horas, para medir el grado de acidez en el esófago. El examen es ambulatorio.
                        .action.mb-5
                            a(href="/e") Leer más
                    .col-12.col-md-6.pd_box_items--home(data-aos="fade-up", data-aos-duration="3000")
                        .title.cl--gray.mb-5
                            h3 Cápsula endoscópica
                        .paragraf.cl--gray.mb-5
                            p La cápsula endoscópica es un dispositivo de reducidas dimensiones que, a través de la ingestión oral, permite la obtención de imágenes del tubo digestivo.
                        .action.mb-5
                            a(href="/endocu/servicios.html") Leer más

                .row
                    .col-12.col-md-6.pd_box_items--home(data-aos="fade-up", data-aos-duration="3000")
                        .title.cl--gray.mb-5
                            h3 Balón intragástrico
                        .paragraf.cl--gray.mb-5
                            p Consiste en pasar al esófago un cable muy delgado que se deja conectado a una grabadora por 24 horas, para medir el grado de acidez en el esófago. El examen es ambulatorio.
                        .action.mb-5
                            a(href="/endocu/servicios.html") Leer más
                    .col-12.col-md-6.pd_box_items--home(data-aos="fade-up", data-aos-duration="3000")
                        .title.cl--gray.mb-5
                            h3 Ecoendoscopia
                        .paragraf.cl--gray.mb-5
                            p Es una exploración que permite la visualización directa del interior del esófago, estómago, etc.
                        .action.mb-5
                            a(href="/endocu/servicios.html") Leer más
        // Section Contact
        section.bgi.bgi--calltoaction.pd_bottom--x100.pd_top--x100
            .container
                .row
                    .col.txt_center.cl--white
                        .title.mb-5
                            h2.display-2.txt_semisemibold(data-aos="fade-up", data-aos-duration="3000")
                                | Ofrecemos seguridad <br>
                                | y experiencia con calidez
                        .action.mb-5(data-aos="fade-up", data-aos-duration="3000")
                            a.btn.btn_site--white.cl--blue.btn-sm.btn_full--lg.txt_upper(href="/endocu/contact.html") contáctanos