extends ./base/layout.pug
block vars
  - var page = 'nosotros'
  - var title="Inicio ";
  - var subtitle="Endocountry";
  - var description="Bienvenidos a endocountry,empresa dedicada a la prestación de servicios ambulatorios como endoscopia, colonoscopia, manometria, ph-metria, ecoendoscopia, enteroscopia entre otros.";
  - var abstract=''
  - var keywords='Esofagogastroduodenoscopia(Endoscopia Alta), Colocación de balón para obesidad, Ph Metría 24 Horas, Manometría Esofágica, Dilatación Esofágica, Extracción cuerpos extraños,Escleroterapia y ligadura de varices esofágicas,Endoscopia para control de sangrado,Colocación guiada de sondas para alimentación, Gastrostomía y yeyunostomia endoscopicas, Colocación de prótesis en esófago, estómago, colón y recto, Biopsias gástricas e intestinales,Polipectomía gástrica, duodenal e intestinal,Colangiopancreatografía Retrograda,Colocación prótesis vía biliar,Papilotomía esfinterotomía endoscópicas,Instrumentación vía biliar, Endoscopia intraoperatoria,Colonoscopia Total (Endoscopia Baja),Rectosigmoidoscopia Flexible,Rectosigmoidoscopia Rígida,Anoscopia,Trombectomía hemorroides,Ligadura de hemorroides,Manometría Rectal,Colonoscopia para descomprensión de volvulus,ecoendoscopia, enteroscopia.etc'
  - var url='www.Endocountry.com'
  - var image=''
  - var canonical=''
  - var shortlink=''
block content

  .wrapper
    section.position-relative.slider_overflow
      ul.slider_intro--about
        li.slider_item.slider_item--bgi.item--01
        li.slider_item.slider_item--bgi.item--02
        li.slider_item.slider_item--bgi.item--03
        li.slider_item.slider_item--bgi.item--04
    //Tres items Intro
    section.box_intro--about(data-aos="fade-up", data-aos-duration="3000")
      .row
        .col-12.col-md-7.bgi_about--deco.cl--white.ml-auto.pd_box--x50.box_shadow
          .title.cl--white.mb-5
            h3.txt_size--em5.txt_bold Nuestra empresa
          .paragraf.cl--white.mb-5
            p ENDOCOUNTRY es una empresa dedicada a prestar servicios en gastroenterología clínica y quirúrgica, cuenta con especialistas en endoscopia digestiva y terapéutica. Cirujanos gastrointestinales con una amplia experiencia en cirugía laparoscopia y oncológica. Su experiencia y condiciones humanas redundan en la calidad del servicio.
            br
            p Contamos con tecnología de punta en lo relacionado con equipos para la realización de estudios de endoscopia alta y baja, estudios de fisiología gastrointestinal, estudio y manejo de la obesidad. La monitorización permanente de los pacientes permite la aplicación segura de medicamentos sedantes, lo cual facilita la realización de los procedimientos.
    // Service Items
    section.py-5
      .container
        .row
          .col.txt_center
            .box_icon.d-block.mb-5(data-aos="fade-up", data-aos-duration="3000")
              i.icon.icon_especialist
            .title.cl--lightBlue.txt_bold.my-5(data-aos="fade-up", data-aos-duration="3000")
              h2.txt_size--em4 Nuestros especialistas
        // ONE ROW
        .row
          .col-12.col-md-4.pd_box--x20(data-aos="fade-up", data-aos-duration="3000")
            .title.cl--gray.mb-5
              h4 Andrés Muñoz Mora
            .paragraf.cl--gray.mb-5
              b Cirujano, gastrointestinal, gastroenterologo, endoscopista.
              p Universidad Javeriana
          .col-12.col-md-4.pd_box--x20(data-aos="fade-up", data-aos-duration="3000")
            .title.cl--gray.mb-5
              h4 Paulo Archila
            .paragraf.cl--gray.mb-5
              b Gastroenterologo, endoscopista.
              p Fondo. Universitaria Ciencias de la Salud del Hospital San Jose
          .col-12.col-md-4.pd_box--x20(data-aos="fade-up", data-aos-duration="3000")
            .title.cl--gray.mb-5
              h4 Diego Francisco de la Torre Cifuentes
            .paragraf.cl--gray.mb-5
              b Gastroenterologo, endoscopista.
              p Universidad del Rosario
        // TWO ROW
        .row
          .col-12.col-md-4.pd_box--x20(data-aos="fade-up", data-aos-duration="3000")
            .title.cl--gray.mb-5
              h4 Pedro Nel Aponte
            .paragraf.cl--gray.mb-5
              b Gastroenterologo, endoscopista.
              p Fondo. Universitaria Ciencias de la Salud del Hospital San Jose
          .col-12.col-md-4.pd_box--x20(data-aos="fade-up", data-aos-duration="3000")
            .title.cl--gray.mb-5
              h4 Fabian Orlando Agudelo
            .paragraf.cl--gray.mb-5
              b Gastroenterologo, endoscopista.
              p Fondo. Universitaria Ciencias de la Salud del Hospital San Jose
          .col-12.col-md-4.pd_box--x20(data-aos="fade-up", data-aos-duration="3000")
            .title.cl--gray.mb-5
              h4 Rosario Albis
            .paragraf.cl--gray.mb-5
              b Gastroenterologa, endoscopista.
              p Universidad
        .row
          .col-12.col-md-4.pd_box--x20(data-aos="fade-up", data-aos-duration="3000")
            .title.cl--gray.mb-5
              h4 Pedro Nel Aponte
            .paragraf.cl--gray.mb-5
              b Gastroenterologo, endoscopista.
              p Fondo. Universitaria Ciencias de la Salud del Hospital San Jose
          .col-12.col-md-4.pd_box--x20(data-aos="fade-up", data-aos-duration="3000")
            .title.cl--gray.mb-5
              h4 Fabian Orlando Agudelo
            .paragraf.cl--gray.mb-5
              b Gastroenterologo, endoscopista.
              p Fondo. Universitaria Ciencias de la Salud del Hospital San Jose
          .col-12.col-md-4.pd_box--x20(data-aos="fade-up", data-aos-duration="3000")
    // Mision y Vision
    section
      ul.list--inline.list_equal.cl--white
        li.bgc--lightBlue
          .box.box_equal--country(data-aos="fade-right", data-aos-duration="3000")
            .title.mb-5
              h2 Misión
            .paragraf
              p Somos un equipo de profesionales calificados y comprometidos con la atención cálida y segura, quienes apoyados en tecnología de punta, brindamos servicios especializados para el manejo de pacientes con enfermedades del sistema gastrointestinal, a través de procesos eficientes y basados en las mejores prácticas.
        li.bgc--blue
          .box.box_equal--country(data-aos="fade-left", data-aos-duration="3000")
            .title.mb-5
              h2 Visión
            .paragraf
              p Para el 2022 ENDOCOUNTRY SAS será un referente local en la atención especializada de pacientes con enfermedades del sistema gastrointestinal, basada en un modelo de atención enmarcado en la calidez, la seguridad y las mejores prácticas científicas disponibles.
    //Section
    section
      ul#myTab.nav.nav-tabs.nav_tabs--about(role='tablist')
        li.nav-item(data-aos="fade-down", data-aos-duration="3000")
          a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Nuestros valores
        li.nav-item(data-aos="fade-down", data-aos-duration="3000")
          a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Nuestros principios
        li.nav-item(data-aos="fade-down", data-aos-duration="3000")
          a#contact-tab.nav-link(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Objetivo corporativo
      #myTabContent.tab-content.tab_content--about
        #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
          .container(data-aos="fade-up", data-aos-duration="3000")
            .row
              .col-7.m-auto.txt_center.cl--gray
                h5.mb-2.txt_bold Ética
                p Es exhibir comportamientos basados en la moral y las buenas costumbres, actuando siempre con transparencia y coherencia.
                br
                h5.mb-2.txt_bold Integridad
                p Actuar en consecuencia con lo que se dice y se piensa a nivel personal y corporativo..
                br
                h5.mb-2.txt_bold Respeto
                p Brindar un trato considerado a los demás, que propenda a fortalecer relaciones de confianza y entendimiento entre las diferentes partes interesadas.
                br
                h5.mb-2.txt_bold Responsabilidad
                p Envuelve la mística aplicada a la toma de decisiones y el grado de compromiso en su cumplimiento para lograr eficientemente los objetivos, ponderando el bien general sobre el particular.
                br
        #profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
          .container(data-aos="fade-up", data-aos-duration="3000")
            .row
              .col-7.m-auto.txt_center.cl--gray
                //h3.txt_bold Principios
                p Es el compromiso de unir el esfuerzo de todos los miembros del equipo de trabajo, para lograr los objetivos impuestos por <strong>ENDOCOUNTRY SAS.</strong>
                br
                h5.mb-2.txt_bold Compromiso
                p Se refiere a que cada miembro del equipo de trabajo de <strong>ENDOCOUNTRY SAS.</strong>, garantiza el cumplimiento de las obligaciones contraídas, como base para la adecuada prestación del servicio y el éxito de la empresa.
                br
                h5.mb-2.txt_bold Calidad
                p Se trata de hacer las cosas bien de principio a fin, utilizando eficientemente los recursos y aplicando todo el conocimiento y la capacidad profesional para lograr la excelencia de los procesos y con ello la satisfacción de los usuarios.
        #contact.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
          .container(data-aos="fade-up", data-aos-duration="3000")
            .row
              .col-7.m-auto.txt_center.cl--gray
                p Brindar servicios especializados de endoscopia digestiva y gastroenterología de forma eficiente y efectiva, garantizando a través de estrategias gerenciales la mejora continua de los procesos, la satisfacción de nuestros usuarios y la solidez financiera.