extends ./base/layout.pug
block vars
    - var page = 'servicios'
    - var title="Servicios ";
    - var subtitle="Endocountry";
    - var description="Bienvenidos a endocountry,empresa dedicada a la prestación de servicios ambulatorios como endoscopia, colonoscopia, manometria, ph-metria, ecoendoscopia, enteroscopia entre otros.";
    - var abstract=''
    - var keywords='Esofagogastroduodenoscopia(Endoscopia Alta), Colocación de balón para obesidad, Ph Metría 24 Horas, Manometría Esofágica, Dilatación Esofágica, Extracción cuerpos extraños,Escleroterapia y ligadura de varices esofágicas,Endoscopia para control de sangrado,Colocación guiada de sondas para alimentación, Gastrostomía y yeyunostomia endoscopicas, Colocación de prótesis en esófago, estómago, colón y recto, Biopsias gástricas e intestinales,Polipectomía gástrica, duodenal e intestinal,Colangiopancreatografía Retrograda,Colocación prótesis vía biliar,Papilotomía esfinterotomía endoscópicas,Instrumentación vía biliar, Endoscopia intraoperatoria,Colonoscopia Total (Endoscopia Baja),Rectosigmoidoscopia Flexible,Rectosigmoidoscopia Rígida,Anoscopia,Trombectomía hemorroides,Ligadura de hemorroides,Manometría Rectal,Colonoscopia para descomprensión de volvulus,ecoendoscopia, enteroscopia.etc'
    - var url='www.Endocountry.com'
    - var image=''
    - var canonical=''
    - var shortlink=''
block content
    .wrapper
        section.pd_top--x100.pd_bottom--x100.bgi.bgi--services
            .container
                .w-75.mx-auto.pd_top--x100.pd_bottom--x100.txt_center(data-aos="fade-up", data-aos-duration="3000")
                    .title.cl--white.mb-5
                        .txt_bold.txt_size--em5 Servicios y procedimientos

        section.pd_bottom--x100
            .container
                .box_faq.col-12.col-md-10.mx-auto.bgc--white.box_shadow--gray(data-aos="fade-up", data-aos-duration="3000")
                    #accordionExample.accordion
                        //.card
                            #heading1.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapse1' aria-expanded='true' aria-controls='collapse1')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Cómo funciona Condorbox?
                            #collapse1.collapse.show(aria-labelledby='heading1' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Es muy sencillo! Te registras y automáticamente obtienes un espacio de almacenamiento gratuito e ilimitado en nuestro centro logístico de Miami. La dirección y el número de casillero que enviamos a tu correo serán los que utilices como dirección de envío de cualquier compra que hagas. Cuando tus compras lleguen nosotros procederemos a almacenarlas. Desde tu sesión de casillero podrás agrupar, declarar, asegurar y dar la orden de despacho de tu mercancía.
                        //item 01
                        .card
                            #heading2.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse2' aria-expanded='false' aria-controls='collapse2')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Endoscopia
                            #collapse2.collapse(aria-labelledby='heading2' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray La esofagogastroduodenoscopia es un examen que permite la visualización directa así como la toma de biopsias de la mucosa del tracto digestivo superior y en algunos casos la intervención terapéutica sobre la misma.
                                    br
                                    h4.cl--gray PREPARACIÓN
                                    br
                                    p.cl--gray El paciente debe tener como mínimo 8 horas de ayuno para sólidos y 4 horas para líquidos que no contengan lácteos.
                                    br
                                    p.cl--gray Indicaciones específicas con respecto a consumo de medicamentos serán informados en el momento de programar su cita.
                                    br
                                    b.txt_bold.cl--gray Por favor descargue e imprima el consentimiento lealo y entreguelo firmado el día de su procedimiento.
                                    .action.my-5
                                        ul.list.list--inline.list_download.txt_upper
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/PREPARACION_PARA_ENCOSCOPIA_DIGESTIVA_ALTA.pdf')
                                                    | PREPARACION
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/consentimiento-altas.pdf')
                                                    | Consentimiento
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/recomendaciones_de_egreso_altas.pdf')
                                                    | Recomendaciones
                                    #subAccordion.accordion
                                        .subcard.position-relative
                                            #headingOne.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Indiaciones
                                            #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#subAccordion')
                                                .card-body
                                                    h5.txt_bold ESOFAGO
                                                    p Estudio del RGE,	Hernia Hiatal, Hipertensión portal, Estenosis esofágica ( disfagia, odinofagia), Acalasia, Esófago de Barrett, Sospecha de neoplasia, Tratamiento del cáncer temprano, Tratamiento de divertículos ( Zenker) Ingesta de tóxicos ( acido o alcalino), Dilatación esofágicas, Escleroterapia de varices, Extracción de cuerpo extraños, Polipectomía, Enfermedad acido péptica, Estudio del dolor retroesternal,	Enfermedades sistémicas que afectan el TGI superior
                                                    br
                                                    h5.txt_bold ESTOMAGO
                                                    p Gastritis atrófica, Ulcera duodenal y duodenitis, Nauseas y vómitos persistentes, Sospecha de neoplasias, Seguimiento después de cirugías, Dispepsia que no responde al tratamiento medico > 45 años,Control de sangrado digestivo, Polipectomía, Tratamiento de la obesidad, Gastrostomía percutánea.
                                                    br
                                                    h5.txt_bold DUODENO
                                                    p Sospecha de neoplasia, Polipectomía,Síndrome de mala absorción ( biopsias), Control de lesiones sangrado.
                                        .subcard.position-relative
                                            #headingTwo.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Complicaciones
                                            #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#subAccordion')
                                                .card-body
                                                    p La endoscopia digestiva alta es un procedimiento seguro, con una tasa de complicaciones por debajo del 2%; su incidencia aumenta cuando se realizan biopsias o maniobras terapéuticas. En una de cada 1.000 estudios. Las complicaciones mecánicas del procedimiento diagnostico son: la perforación esofágica y el daño de la dentadura. El sangrado secundario a la toma de biopsias casi siempre es autolimitado, en algunos casos se hace necesario el control con inyección de esclerosante bajo visión directa.
                                                    br
                                                    p Actualmente, con la técnica adecuada, es posible lograr la revisión completa del colon hasta la región cecal, en más del 90% de las exploraciones, logrando incluso la intubación del íleon distal si así se requiere, según las indicaciones de cada caso en particular. Existen una serie de situaciones que limitan estas posibilidades como la existencia de adherencias, por cirugías abdominal previa o por peridiverticulitis, mala preparación del colon, alteraciones anatómicas y la presencia de lesiones inflamatorias o neoplásicas que impiden la progresión instrumental.
                                                    br
                                                    p Radiología dudosa, Diarrea crónica de origen no determinado,Sangrado digestivo bajo, Hemorragia digestiva de origen oscuro, Screening y seguimiento del cáncer colorectal, Intraoperatoria, Dolor abdominal crónico.
                                        .subcard.position-relative
                                            #headingThree.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Contraindicaciones
                                            #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#subAccordion')
                                                .card-body
                                                    p Hoy día, básicamente, las contraindicaciones para la realización de una colonoscopia diagnostica dependerán de la experiencia del examinador, pero desde el punto de vista práctico y didáctico, podemos agruparlos en:
                                                    br
                                                    h5.txt_bold ABSOLUTOS
                                                    ul.list_simple
                                                        li
                                                            p Peritonitis
                                                        li
                                                            p Perforación intestinal
                                                        li
                                                            p Colitis toxica
                                                        li
                                                            p Infarto agudo del miocardio reciente
                                                        li
                                                            p Tromboembolismo pulmonar reciente
                                                        li
                                                            p Diverticulitis aguda con signos sugestivos sépticos
                                                    br
                                                    h5.txt_bold.txt_upper Relativas
                                                    ul.list_simple
                                                        li
                                                            p Diverticulitis aguda no complicada
                                                        li
                                                            p Ascitis o diálisis peritoneal
                                                        li
                                                            p Sangrado colonico masivo
                                                        li
                                                            p Estado sardio pulmonar inestable
                                                        li
                                                            p Cirugía intestinal reciente
                                                        li
                                                            p Poca aceptación / tolerancia sicológica al procedimiento por parte del paciente, Poca aceptación / tolerancia sicológica al procedimiento por parte del paciente
                                                        li
                                                            p Embarazo en segundo o tercer trimestre


                        //item 02
                        .card
                            #heading3.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse3' aria-expanded='false' aria-controls='collapse3')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Colonoscopia
                            #collapse3.collapse(aria-labelledby='heading3' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray La colonoscopia y rectosigmoidoscopia son procedimientos que han venido reemplazando las técnicas radiológicas con medio de contraste para el estudio del recto y colon. El desarrollo de los instrumentos y perfeccionamiento de la técnica han permitido que el concepto sobre la colonoscopia, de ser un procedimiento agresivo se haya convertido en un examen sofisticado, socialmente aceptado.
                                    br
                                    p Obviamente las características propias del colon y el hecho de ser una técnica invasiva requieren de experiencia para la realización del procedimiento.
                                    br
                                    b Por favor descargue e imprima el consentimiento lealo y entreguelo firmado el día de su procedimiento.
                                    br
                                    .action.my-5
                                        ul.list.list--inline.list_download.txt_upper
                                            li
                                                a.btn_outline--blue(href="#")
                                                    | PREPARACION
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/preparacion-travad_oral.pdf')
                                                    | Preparación Travad
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/consentimiento-bajas.pdf')
                                                    | Consentimiento
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/recomendaciones_bajos.pdf')
                                                    | Recomedaciones
                                    #subAccordion2.accordion
                                        .subcard.position-relative
                                            #headingOne2.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseOne2' aria-expanded='true' aria-controls='collapseOne')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Indicaciones Diagnosticas
                                            #collapseOne2.collapse.show(aria-labelledby='headingOne' data-parent='#subAccordion2')
                                                .card-body
                                                    p Pacientes con síntomas digestivos tales como cambios en el hábito intestinal, cambios en las caracterísiticas de la materia fecal, distensión o dolor abdominal, sangrado digestivo bajo (sangre sola o con la materia fecal). Pacientes con anemia crónica, deterioro de sus condiciones genereles y/o pérdida progresiva de peso Paciente con enfermedad previa para control y seguimiento Paciente con riesgo mayor para cáncer del colon y el recto
                                        .subcard.position-relative
                                            #headingTwo2.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseTwo2' aria-expanded='false' aria-controls='collapseTwo')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Terapeuticas
                                            #collapseTwo2.collapse(aria-labelledby='headingTwo' data-parent='#subAccordion2')
                                                .card-body
                                                    p Dilataciones o colocación de stents por estrecheses Control de sangrado producido en el colon Resección de pólipos o lesiones malignas o con potencial maligno superficiales Extracción cuerpos extraños
                                        .subcard.position-relative
                                            #headingThree2.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseThree2' aria-expanded='false' aria-controls='collapseThree')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Contradiciones
                                            #collapseThree2.collapse(aria-labelledby='headingThree2' data-parent='#subAccordion2')
                                                .card-body
                                                    p Por lo general, la colonoscopia y la polipectomía son procedimientos seguros cuando son efectuados por médicos expertos capacitados en la realización del procedimiento.
                                                    br
                                                    p Una de las posibles complicaciones es la perforación o el desgarro de la pared intestinal, que pueden requerir cirugía. En el sitio de la biopsia y la polipectomía puede producirse sangrado, aunque generalmente éste es menor. El sangrado puede detenerse espontáneamente o puede ser controlado por medio del colonoscopia, y rara vez se requiere de seguimiento médico. Algunos pacientes pueden presentar una reacción a los sedantes, o bien experimentar complicaciones por enfermedades cardíacas o pulmonares.
                                                    br
                                                    p A pesar de que no es común que se presenten complicaciones después de una colonoscopia, es importante reconocer las señales tempranas de las mismas. Si usted advierte dolor abdominal severo, fiebre y escalofríos, o bien sangrado rectal, comuníquese con su médico.
                                                    br
                                                    p Si tiene dudas o interrogantes no olvide preguntarlos antes de iniciar su examen.
                                                    br

                        //.card
                            #heading5.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse5' aria-expanded='false' aria-controls='collapse5')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Por qué comprar en Estados Unidos y no en Colombia?
                            #collapse5.collapse(aria-labelledby='heading5' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor.
                        //.card
                            #heading6.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse6' aria-expanded='false' aria-controls='collapse6')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Puedo traer lo que sea a través del casillero?
                            #collapse6.collapse(aria-labelledby='heading6' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Esta es la lista de artículos prohibidos por la ley:
                                    small Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor.
                        //item 03
                        .card
                            #heading7.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse7' aria-expanded='false' aria-controls='collapse7')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Capsula Endoscopica
                            #collapse7.collapse(aria-labelledby='heading7' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray La capsula endoscópica es un dispositivo de reducidas dimensiones que, a través de la ingestión oral, permite la obtención de imágenes del tubo digestivo durante su recorrido fisiológico a través de este. Su contribución fundamental se realiza en el estudio de las patologías del intestino delgado, segmento digestivo en el que aún existen dificultades de diagnóstico con las técnicas actuales, incluida la enteroscopia. El sistema completo consta de un dispositivo endoscópico en forma de cápsula, un videograbador que el paciente porta durante el tránsito intestinal de la cápsula y un ordenador externo para procesar las imágenes obtenidas.
                                    br
                                    b Por favor descargue e imprima el consentimiento lealo y entreguelo firmado el día de su procedimiento.
                                    b Por favor descargue e imprima el formulario y completelo durante su procedimiento, entreguelo en la unidad de endoscopia.
                                    .action.my-5
                                        ul.list.list--inline.list_download.txt_upper
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/PREPARACION_PARA_VIDEOCAPSULA.pdf')
                                                    | PREPARACION
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/consentimiento-bajas.pdf')
                                                    | Consentimiento
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/recomendaciones.pdf')
                                                    | Recomedaciones

                                    #subAccordion7.accordion
                                        .subcard.position-relative
                                            #headingOne7.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseOne7' aria-expanded='true' aria-controls='collapseOne7')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Instrucciones para la realización del examen
                                            #collapseOne7.collapse.show(aria-labelledby='headingOne7' data-parent='#subAccordion7')
                                                .card-body
                                                    p Su médico ha decidido que como parte de su evaluación médica sería conveniente someterse a una prueba denominada Capsulo-Endoscopia. Este procedimiento implica la ingestión de una pequeña Cápsula PillCam™ SB (del tamaño de una pastilla de vitaminas) que recorre de forma natural su aparato digestivo a la vez que va recogiendo imágenes del intestino. Las imágenes son transmitidas al SensorArray™ situado en su abdomen. Estos sensores están conectados al DataRecorder™, similar a un walkman, que almacena todas las imágenes. El DataRecorder se coloca en el RecorderBelt™ que se lleva en la cintura. Transcurridas 8 horas, se quitará el RecorderBelt y se lo entregará a su médico para que los datos sean procesados. La Cápsula PillCam SB es desechable y será excretada de forma natural por los movimientos intestinales. En el caso infrecuente de que no se excrete de forma natural, ésta deberá ser extraída mediante endoscopia o cirugía. Con el objetivo de obtener la información más precisa posible con este test, deberá seguir las siguientes recomendaciones:
                                        .subcard.position-relative
                                            #headingTwo7.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseTwo7' aria-expanded='false' aria-controls='collapseTwo7')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span El día anterior a la Capsulo-endoscopia:
                                            #collapseTwo7.collapse(aria-labelledby='headingTwo7' data-parent='#subAccordion7')
                                                .card-body
                                                    ol
                                                        li
                                                            p Llegue a la consulta de su médico a la hora fijada para la Capsulo-endoscopia vistiendo ropa holgada de dos piezas.
                                                        li
                                                            p En la consulta de su médico, tendrá una entrevista de pre-procedimiento. Durante esta entrevista deberá ser informado de que la capsulo-endoscopia conlleva un mínimo riesgo de sufrir obstrucción intestinal. Será entonces registrado y se le pedirá su consentimiento.
                                                        li
                                                            p Se le acoplará el SensorArray a su abdomen con parches adhesivos y será conectado al DataRecorder que llevará en un cinturón alrededor de la cintura. A continuación se le indicará que ingiera la Cápsula PillCam SB.
                                                    br
                                        .subcard.position-relative
                                            #headingThree7.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseThree7' aria-expanded='false' aria-controls='collapseThree7')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Tras la ingestión de la Cápsula PillCam SB
                                            #collapseThree7.collapse(aria-labelledby='headingThree7' data-parent='#subAccordion7')
                                                .card-body
                                                    ol
                                                        li
                                                            p Tras la ingestión de la Cápsula PillCam SB, no coma o beba nada durante al menos 2 horas. Tras 4 horas puede tomar un pequeño tentempié. Una vez finalizado el examen puede volver a su dieta normal. Estas recomendaciones sobre la ingestión de alimentos se deben cumplir siempre, a no ser que su médico así lo indique. Contacte con su médico inmediatamente si sufre de dolor abdominal, nauseas o vómitos durante la Capsulo-endoscopia.
                                                        li
                                                            p Tas la ingestión de la cápsula PillCam SB y hasta el momento de su excreción, deberá mantenerse alejado de cualquier fuente de campos electromagnéticos fuertes, como los que producen los equipos de resonancia magnética o de radioaficionado.
                                                        li
                                                            p Ocasionalmente, algunas imágenes pueden perderse debido a interferencias de radio (es decir, de transmisores de radioaficionado, de dispositivos de resonancia magnética, etc.). En raras ocasiones esto puede conllevar la repetición de la capsulo-endoscopia. En dicho caso, aconseje al paciente de que se quede en la clínica durante el tiempo que dure el procedimiento para evitar que se repita el problema.
                                                        li
                                                            p La Capsulo-endoscopia dura aproximadamente 8 horas y se considera completada de acuerdo con las instrucciones de su médico. No desconecte el equipo o se quite el cinturón en ningún momento durante este periodo. Puesto que el DataRecorder es un pequeño ordenador, debe ser tratado con sumo cuidado y protección. Evite realizar movimientos bruscos o golpear el DataRecorder.
                                                        li
                                                            p Durante la Capsulo-endoscopia, deberá comprobar cada 15 minutos que la pequeña luz en la parte superior del DataRecorder parpadea dos veces por segundo. Si por cualquier motivo deja de parpadear a dicho ritmo, apunte la hora y contacte con su médico. Deberá también apuntar la hora y la naturaleza se cualquier suceso tales como, comer, beber, las actividades que realice y síntomas extraños. Devuelva el Formulario de Acontecimientos con estas notas a su médico en el momento en que devuelva el equipo.
                                                        li
                                                            p Evite cualquier actividad física extenuante especialmente si conlleva transpiración, y no se doble o agache durante la Capsulo-endoscopia.
                                        .subcard.position-relative
                                            #headingfour7.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapsefour7' aria-expanded='false' aria-controls='collapsefour7')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Tras la finalización de la Capsulo-endoscopia
                                            #collapsefour7.collapse(aria-labelledby='headingfour7' data-parent='#subAccordion7')
                                                .card-body
                                                    ol
                                                        li
                                                            p Su médico le indicará como devolver el equipo una vez finalizada la Capsulo-endoscopia. Si le ha sido indicado que se quite el equipo usted mismo, realice lo siguiente: (a) Desconecte el SensorArray del DataRecorder; (b) Quítese el RecorderBelt (con el DataRecorder y la Batería); (c) Desconecte la Batería del DataRecorder (d) Coloque el DataRecorder y la Batería en un lugar seguro. ¡Para quitarse el SensorArray de su abdomen, no tire de los cables del SensorArray! Despegue cada tira adhesiva tirando de la lengüeta no adhesiva y sin despegar el sensor de la tira adhesiva. Coloque el SensorArray con el resto del equipo.
                                                        li
                                                            p El DataRecorder almacena las imágenes de su examen. Entregue el DataRecorder, el RecorderBelt, el SensorArray y la Batería con cuidado. No los exponga a golpes, vibraciones o luz solar directa, pues pueden provocar pérdidas de información. Devuelva todo el equipo a la consulta de su médico lo antes posible.
                                                        li
                                                            p Si no puede asegurar haber excretado la Cápsula PillCam SB de su organismo, y desarrolla nauseas, dolor abdominal o vómitos sin motivo aparente tras el procedimiento, contacte con su médico para ser evaluado y para un posible examen de rayos X.
                                                        li
                                                            p La realización de un examen de resonancia magnética mientras la cápsula esté en su interior puede provocar un serio daño a su tracto intestinal o a su cavidad abdominal. Si no puede asegurar haber excretado la Cápsula PillCam SB de su organismo, deberá contactar con su médico para ser evaluado y para un posible examen de rayos X abdominal antes de someterse a una resonancia magnética.
                        //Item 4
                        .card
                            #heading8.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse8' aria-expanded='false' aria-controls='collapse8')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Balon Intragastrico
                            #collapse8.collapse(aria-labelledby='heading8' data-parent='#accordionExample')
                                .card-body.cl--gray
                                    p Consiste en la colocación endoscópica, bajo sedación de una bolsa de silicona, la cual se llena de solución salina, produciendo un efecto restrictivo, disminuyendo la ingesta en los pacientes.
                                    br
                                    p El Balon Gastrico actualmente se considera el tratamiento no quirúrgico mas efectivo y de menos riesgo para la perdida de peso y la obesidad.
                                    br
                                    p El Balon Gastrico es de un material suave de silicona, el cual se introduce por endoscopia desinflado hasta el estómago, se llena con solución salina y produce un efecto de saciedad y llenura fácil con pequeñas cantidades de comida.
                                    br
                                    p El Balon Gastrico es un tratamiento que dura 6 meses, durante los cuales el paciente está acompañado de un Grupo Multidisciplinario de Especialistas que le ayudarán a perder peso.
                                    br
                                    p Por favor descargue e imprima el consentimiento lealo y entreguelo firmado el día de su procedimiento.
                                    br
                                    b Por favor descargue e imprima el consentimiento lealo y entreguelo firmado el día de su procedimiento.
                                    .action.my-5
                                        ul.list.list--inline.list_download.txt_upper
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/consentimiento-altas.pdf')
                                                    | Consentimiento
                                            li
                                                a.btn_outline--blue(target="_blank", href='/download/recomendaciones_post_balon.pdf')
                                                    | Recomendaciones
                        //Item 5
                        .card
                            #heading9.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse9' aria-expanded='false' aria-controls='collapse9')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Preparación Colonoscopia
                            #collapse9.collapse(aria-labelledby='heading9' data-parent='#accordionExample')
                                .card-body.cl--gray
                                    p Lea cuidadosamente las siguientes instrucciones y de esta manera obtendrá una buena preparación, requisito indispensable para un examen de buena calidad.
                                    br
                                    h5.txt_bold Día anterior al examen:
                                    br
                                    small.txt_italic * Desayuno: dieta líquida: café con leche, jugos, té, gelatina, compotas, agua de panela, agua.
                                    br
                                    small.txt_italic * Almuerzo debe ser líquidos: Cremas, jugos sin leche, té en agua, aromáticas, agua de panela, agua.
                                    br
                                    small.txt_italic * Evitar el consumo de vegetales. No consumir lácteos, jugo de guayaba.
                                    br
                                    small.txt_italic * Comida: consomé, aromática, té en agua o jugos comerciales en agua sin pulpa.
                                    br
                                    small.txt_italic * Si usted sufre de estreñimiento debe tomar abundantes líquidos durante este día.
                                    br
                                    small.txt_italic * No consumir nada con semilla, cilantro ni cebolla.
                                    br
                                    small.txt_italic * Dejar de consumir goma de masticar (chicle)
                                    br
                                    small.txt_italic * Asistir al procedimiento sin maquillaje en las uñas de las manos
                                    br
                                    br
                                    b CONFIRME SU ASISTENCIA a los teléfonos 530 13 49 (directo) o al 530 04 70 extensión 1471.
                                    br
                                    br
                                    ul.list.list--inline.list_download.txt_upper
                                        li
                                            a.btn_outline--blue(target="_blank", href="/download/PREPARACION_PARA_ENCOSCOPIA _DIGESTIVA_BAJA.pdf")
                                                | PREPARACION
                                        li
                                            a.btn_outline--blue(target="_blank", href='/download/consentimiento-bajas.pdf')
                                                | Consentimiento
                                        li
                                            a.btn_outline--blue(target="_blank", href='/download/recomendaciones_de_egreso_altas.pdf')
                                                | Recomedaciones
                                    #subAccordion9.accordion
                                        .subcard.position-relative
                                            #headingOne9.subcard_header.position-relative
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseOne9' aria-expanded='true' aria-controls='collapseOne9')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Toma de la preparación
                                            #collapseOne9.collapse.show(aria-labelledby='headingOne9' data-parent='#subAccordion9')
                                                .card-body.cl--gray
                                                    p Sugerencia: Al iniciar la preparación tome 1 hora antes una tableta de Plasil® (Meroclopramida) para una mejor tolerancia a la misma. Se recomienda utilizar:
                                                    br
                                                    ul.list_simple
                                                        li
                                                            p Klean-prep® 4 Sobres,
                                                        li
                                                            p   Nulytely®. 4 Sobres,
                                                        li
                                                            p   Clearovac® 4 sobres,
                                                        li
                                                            p   Travad oral 3 frascos.(Comprar solo una de las marcas sugeridas)
                                                    br
                                                    ul.list.list--inline.list_download.txt_upper
                                                        li
                                                            a.btn_outline--blue(target="_blank", href='/download/preparacion-travad_oral.pdf')
                                                                | PREPARACION Travad
                                                    br
                                                    ul.list_simple
                                                        li
                                                            p Cada una de las preparaciones que contienen cuatro sobres deben ser preparadas e ingeridas de la siguiente manera (aplica para el Colyte, solo que este se prepara directamente en su envase).
                                                        li
                                                            p Cada sobre debe diluirse en un litro de agua fría. Los sobre traen un sabor que la mayoría pacientes tolera adecuadamente. Sin embargo, si el sabor le desagrada puede adicionar a la preparación Clight® o Gatorade®, teniendo la precaución de no utilizar aquellos de colores como el rojo azul o uva entre otros, dado que pueden impedir una valoración adecuada del colon, o incluso ser confundidos con sangrado.
                                                        li
                                                            p Empiece a tomar la preparación a las 2 pm: tome un vaso ( 250 cc) cada 15 ó 20 minutos hasta que termine los cuatro litros.
                                                        li
                                                            p Mantenga la solución permanentemente en la nevera. IDEALMENTE DESPUES DE TERMINADA LA PREPARACIÓN CONTINUAR TOMANDO AGUA.
                                                        li
                                                            p Es importante que se encuentre en un lugar cómodo (idealmente en su casa) porque va a presentar múltiples evacuaciones intestinales.
                                                        li
                                                            p Si toma medicamentos para la presión o para el corazón debe tomarlos como lo hace habitualmente y consultar al médico solicitante en caso de consumir aspirina o warfarina.
                                                    br
                                                    b ¡ De la buena preparación depende el éxito de su examen !
                                        .subcard.position-relative
                                            #headingTwo9.subcard_header.position-relative
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseTwo9' aria-expanded='false' aria-controls='collapseTwo9')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Día del examen
                                            #collapseTwo9.collapse(aria-labelledby='headingTwo9' data-parent='#subAccordion9')
                                                .card-body.cl--gray
                                                    p Dirigirse al 6º piso de la Clínica del Country. Cra 16 No. 82-57
                                                    br
                                                    ul.list_simple
                                                        li
                                                            p Traer la orden debidamente autorizada y vigente. Cancelar copago si se requiere.
                                                        li
                                                            p Debe venir con un acompañante mayor de edad.
                                                        li
                                                            p El paciente debe presentarse en ropa cómoda.
                                                        li
                                                            p El paciente no puede conducir vehículo, ni realizar actividades que requieran atención durante el resto del día.
                                                        li
                                                            p No ingerir alimentos ni bebidas antes de 4 horas a la realización del procedimiento y 8 horas si adicionalmente está programado para endoscopia alta.
                                                        li
                                                            p No ingresar con joyas, celulares, ni elementos de valor. Es preferible que estos elementos los entregue a su acompañante.

                        //Item 6
                        .card
                            #heading10.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse10' aria-expanded='false' aria-controls='collapse10')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span PH-metria
                            #collapse10.collapse(aria-labelledby='heading10' data-parent='#accordionExample')
                                .card-body.cl--gray
                                    p Consiste en pasar al esófago un cable muy delgado que se deja conectado a una grabadora por 24 horas, para medir el grado de acidez en el esófago. El examen es ambulatorio.
                                    br
                                    h5.txt_bold ¿Cuándo esta indicado llevar a cabo estos estudios?
                                    br
                                    p La pHmetria está indicada cuando el paciente tiene mucha acidez y los hallazgos por endoscopia no coinciden con los síntomas del paciente. También puede usarse cuando el paciente no responde al tratamiento antiácido habitual o cuando el paciente tiene síntomas atípicos de la enfermedad por reflujo gastroesofagico, como tos o ronquera crónica y algunos casos de asma de difícil control.
                                    ul.list.list--inline.list_download.txt_upper
                                        li
                                            a.btn_outline--blue(target="_blank", href="/download/PREPARACION_PARA_PH_ METRIA.pdf")
                                                | PREPARACION
                        //Item 7
                        .card
                            #heading11.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse11' aria-expanded='false' aria-controls='collapse11')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Enteroscopia
                            #collapse11.collapse(aria-labelledby='heading11' data-parent='#accordionExample')
                                .card-body.cl--gray
                                    p La enteroscopia, es una herramienta nueva que se dispone para la evaluación endoscópica del intestino delgado, se puede hacer por vía oral o anal, dependiendo de la historia clinica y paraclínicos del paciente, para lo cual se dispone de un enteroscopio de un balón marca Olympus (SIF Q 180). Previo a su realización el paciente ha recibido las mismas indicaciones como para una colonoscopia.
                                    br
                                    b Por favor descargue e imprima el consentimiento lealo y entreguelo firmado el día de su procedimiento.
                                    br
                                    br
                                    ul.list.list--inline.list_download.txt_upper
                                        li
                                            a.btn_outline--blue(target="_blank", href='/download/consentimiento-altas.pdf')
                                                | Consentimiento
                                        li
                                            a.btn_outline--blue(target="_blank", href="/download/recomendaciones_de_egreso_altas.pdf")
                                                | Recomendaciones
                        //Item 8
                        .card
                            #heading12.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse12' aria-expanded='false' aria-controls='collapse12')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Ecoendoscopia
                            #collapse12.collapse(aria-labelledby='heading12' data-parent='#accordionExample')
                                .card-body.cl--gray
                                    p La enteroscopia, es una herramienta nueva que se dispone para la evaluación endoscópica del intestino delgado, se puede hacer por vía oral o anal, dependiendo de la historia clinica y paraclínicos del paciente, para lo cual se dispone de un enteroscopio de un balón marca Olympus (SIF Q 180). Previo a su realización el paciente ha recibido las mismas indicaciones como para una colonscopia. Previo a su realización el paciente ha recibido las mismas indicaciones como para una colonoscopia.
                                    br
                                    b Por favor descargue e imprima el consentimiento lealo y entreguelo firmado el día de su procedimiento.
                                    br
                                    br
                                    ul.list.list--inline.list_download.txt_upper
                                        li
                                            a.btn_outline--blue(target="_blank", href='/download/consentimiento-altas.pdf')
                                                | Cosentimiento
                                        li
                                            a.btn_outline--blue(target="_blank", href="#")
                                                | Recomendaciones
                                    br
                                    #subAccordion12.accordion
                                        .subcard.position-relative
                                            #headingOne12.subcard_header.position-relative
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseOne12' aria-expanded='true' aria-controls='collapseOne12')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span ¿Qué es una USE?
                                            #collapseOne12.collapse.show(aria-labelledby='headingOne' data-parent='#subAccordion12')
                                                .card-body
                                                    p Pacientes con síntomas digestivos tales como cambios en el hábito intestinal, cambios en las características de la materia fecal, distensión o dolor abdominal, sangrado digestivo bajo (sangre sola o con la materia fecal). Pacientes con anemia crónica, deterioro de sus condiciones genereles y/o pérdida progresiva de peso, paciente con enfermedad previa para control y seguimiento, paciente con riesgo mayor para cáncer del colon y el recto.
                                                    br
                                        .subcard.position-relative
                                            #headingTwo12.subcard_header.position-relative
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseTwo12' aria-expanded='false' aria-controls='collapseTwo12')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Preparación para su ecoendoscopia(USE)
                                            #collapseTwo12.collapse(aria-labelledby='headingTwo12' data-parent='#subAccordion12')
                                                .card-body
                                                    p Si su médico le solicitó una USE baja (recto): En la mañana del examen deberá prepararse mediante 1 enema de limpieza por vía rectal.
                                                    br
                                                    p Si su médico le solicitó una USE alta (esófago, mediastino, estómago,páncreas): No coma ni beba nada en las 8 horas previas al examen. No tome la medicación para su diabetes, ni fármacos que alteren la coagulación, salvo que su médico habitual lo contraindique
                                                    br
                                                    p <b>Antibióticos:</b> Por regla general no es necesario administrar antibióticos para realizar esta prueba. En caso de realizarse punción de un quiste del páncreas, de una lesión rectal o si usted tiene historia previa de endocarditis, cardiopatía congénita o prótesis valvular debería realizarse profilaxis antibiótica previa a USE, que su médico le indicará.
                                                    br
                                                    p <b>Antidiabéticos/insulina:</b> Si usted tiene diabetes consulte con su médico habitual sobre la necesidad de prepararse para esta prueba y sus recomendaciones. Como norma general, en la mañana de la USE no tome pastillas para su diabetes, no se inyecte insulina y no coma hasta que haya finalizado su examen de USE (salvo que su médico habitual le haya recomendado otra pauta para control de su glucemia).
                                                    br
                                                    p <b>Anticoagulantes/antiagregantes:</b> Si usted está recibiendo Aspirina®, Sintrom®, heparina u otro tipo de medicamento que pueda alterar la coagulación de la sangre, haga saber a su médico habitual la necesidad de reajustar la dosis para poder realizar la USE.
                                                    br
                                        .subcard.position-relative
                                            #headingThree12.subcard_header.position-relative
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseThree12' aria-expanded='false' aria-controls='collapseThree12')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span ¿Me van a administrar alguna medicación "relajante"?:
                                            #collapseThree12.collapse(aria-labelledby='headingThree12' data-parent='#subAccordion12')
                                                .card-body
                                                    p Antes de comenzar el examen se le administrará oxígeno y medicación intravenosa para que esté más relajado (sedación). Es importante que recuerde que en las primeras 24 horas después de la sedación, su capacidad de reacción y de juicio pueden estar ligeramente disminuidas. Por dicho motivo se le recomienda que en esas 24 horas no realice ninguna actividad que requiera el pleno uso de sus facultades mentales o físicas (conducción de automóviles, trabajo, toma de decisiones de cualquier tipo, ingesta de alcohol, etc.). Asimismo, le recomendamos que venga acompañado por algún familiar para volver a su domicilio.
                                                    br
                                        .subcard.position-relative
                                            #headingfour12.subcard_header.position-relative
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapsefour12' aria-expanded='false' aria-controls='collapsefour12')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Examen USE
                                            #collapsefour12.collapse(aria-labelledby='headingfour12' data-parent='#subAccordion12')
                                                .card-body
                                                    p Será conducido a la sala de ecoendoscopia donde estará el médico que le asistirá durante la exploración. Se le tumbará en una camilla sobre su lado izquierdo, se le colocará una protección para los dientes (USE alta) y, tras inyección de sedación por vía intravenosa, se le introducirá un endoscopio (vía oral o rectal según indicación) hasta alcanzar la zona de interés en la que se realizará el estudio. En algunos casos puede ser necesario dilatar zonas de estenosis para completar el estudio. En otras ocasiones puede ser necesario la realización de biopsias guiadas por USE para ayudar a establecer el diagnóstico definitivo o incluso se pueden inyectar sustancias analgésicas como parte del tratamiento de su patología. Por lo general la prueba no es dolorosa, dura entre 30 y 60 minutos y, al terminarla, el tiempo de observación en la sala de despertar es de unos 60 minutos. Tras el examen USE, reanude su dieta y medicamentos habituales según la pauta recomendada por su médico (reinicio de antidiabéticos y anticoagulantes bajo control estricto de su médico).
                                                    br
                                        .subcard.position-relative
                                            #headingfive12.subcard_header.position-relative
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapsefive12' aria-expanded='false' aria-controls='collapsefive12')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Riesgos de la USE
                                            #collapsefive12.collapse(aria-labelledby='headingfofive' data-parent='#subAccordion12')
                                                .card-body
                                                    p Las complicaciones de la USE (infección, sangrado, pancreatitis) son raras (menos del 1%) y generalmente leves. En ocasiones pueden ocurrir complicaciones más severas como por ejemplo perforación o complicaciones derivadas de la sedación. Si después del examen USE, usted experimenta fiebre (38 ºC), vómitos de sangre, heces negras, dolor en el pecho, cuello o abdomen, consulte inmediatamente con el gastroenterólogo de guardia más cercano.
                                                    br