extends ./base/layout.pug

block content
    .wrapper
        section.pd_top--x100.pd_bottom--x100.bgi.bgi--services
            .container
                .w-75.mx-auto.pd_top--x100.pd_bottom--x100.txt_center(data-aos="fade-up", data-aos-duration="3000")
                    .title.cl--white.mb-5
                        .txt_bold.txt_size--em5 Servicios y procedimientos

        section
            .container
                .box_faq.w-75.mx-auto.bgc--white.box_shadow--gray(data-aos="fade-up", data-aos-duration="3000")
                    #accordionExample.accordion
                        //.card
                            #heading1.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapse1' aria-expanded='true' aria-controls='collapse1')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Cómo funciona Condorbox?
                            #collapse1.collapse.show(aria-labelledby='heading1' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Es muy sencillo! Te registras y automáticamente obtienes un espacio de almacenamiento gratuito e ilimitado en nuestro centro logístico de Miami. La dirección y el número de casillero que enviamos a tu correo serán los que utilices como dirección de envío de cualquier compra que hagas. Cuando tus compras lleguen nosotros procederemos a almacenarlas. Desde tu sesión de casillero podrás agrupar, declarar, asegurar y dar la orden de despacho de tu mercancía.
                        .card
                            #heading2.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse2' aria-expanded='false' aria-controls='collapse2')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Endoscopia
                            #collapse2.collapse(aria-labelledby='heading2' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray La esofagogastroduodenoscopia es un examen que permite la visualización directa así como la toma de biopsias de la mucosa del tracto digestivo superior y en algunos casos la intervención terapéutica sobre la misma.
                                    br
                                    h4.cl--gray PREPARACIÓN
                                    br
                                    p.cl--gray El paciente debe tener como mínimo 8 horas de ayuno para sólidos y 4 horas para líquidos que no contengan lácteos.
                                    br
                                    p.cl--gray Indicaciones específicas con respecto a consumo de medicamentos serán informados en el momento de programar su cita.
                                    br
                                    b.txt_bold.cl--gray Por favor descargue e imprima el consentimiento lealo y entreguelo firmado el día de su procedimiento.
                                    .actionm.my-5
                                        ul.list.list--inline.list_download.txt_upper
                                            li
                                                a.btn_outline--blue(href="#", download="clinicadelcountry-colonoscopia-preparacion") PREPARACION
                                            li
                                                a.btn_outline--blue(href="#", download="clinicadelcountry-colonoscopia-preparacion") preparación Travad
                                            li
                                                a.btn_outline--blue(href="#", download="clinicadelcountry-colonoscopia-preparacion") Consentimiento
                                            li
                                                a.btn_outline--blue(href="#", download="clinicadelcountry-colonoscopia-preparacion") recomendaciones
                                    #subAccordion.accordion
                                        .subcard.position-relative
                                            #headingOne.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Indiaciones Diagnosticas
                                            #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#subAccordion')
                                                .card-body
                                                    p Pacientes con síntomas digestivos tales como cambios en el hábito intestinal, cambios en las caracterísiticas de la materia fecal, distensión o dolor abdominal, sangrado digestivo bajo (sangre sola o con la materia fecal). Pacientes con anemia crónica, deterioro de sus condiciones genereles y/o pérdida progresiva de peso Paciente con enfermedad previa para control y seguimiento Paciente con riesgo mayor para cáncer del colon y el recto
                                        .subcard.position-relative
                                            #headingTwo.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Terapéuticas
                                            #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#subAccordion')
                                                .card-body
                                                    p Anim pariatur cliche reprehenderit,
                                        .subcard.position-relative
                                            #headingThree.subcard_header
                                                h5.mb-0
                                                    button.btn.btn_ghost(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                                    .title.pl-3.py-4.py-3--darkgray
                                                        span.icon.icon_subacc
                                                        span Contraindicaciones
                                            #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#subAccordion')
                                                .card-body
                                                    p Anim pariatur cliche reprehenderit,

                        .card
                            #heading3.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse3' aria-expanded='false' aria-controls='collapse3')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Colonoscopia
                            #collapse3.collapse(aria-labelledby='heading3' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Es absolutamente seguro y sencillo, por esta razón el comercio electrónico ha venido creciendo y consolidándose a pasos agigantados. Si tienes alguna duda sobre la seguridad de una página, el método de pago o condiciones especiales escríbenos para que un asesor profesional te acompañe.



                        //.card
                            #heading5.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse5' aria-expanded='false' aria-controls='collapse5')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Por qué comprar en Estados Unidos y no en Colombia?
                            #collapse5.collapse(aria-labelledby='heading5' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor.
                        //.card
                            #heading6.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse6' aria-expanded='false' aria-controls='collapse6')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Puedo traer lo que sea a través del casillero?
                            #collapse6.collapse(aria-labelledby='heading6' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Esta es la lista de artículos prohibidos por la ley:
                                    small Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor.
                        .card
                            #heading7.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse7' aria-expanded='false' aria-controls='collapse7')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Capsula Endoscopica
                            #collapse7.collapse(aria-labelledby='heading7' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor.

                        .card
                            #heading8.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse8' aria-expanded='false' aria-controls='collapse8')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Balon Intragastrico
                            #collapse8.collapse(aria-labelledby='heading8' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor.

                        .card
                            #heading9.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse9' aria-expanded='false' aria-controls='collapse9')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Preparación Colonoscopia
                            #collapse9.collapse(aria-labelledby='heading9' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor.

                        .card
                            #heading10.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse10' aria-expanded='false' aria-controls='collapse10')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span PH-metria
                            #collapse10.collapse(aria-labelledby='heading10' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor.

                        .card
                            #heading11.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse11' aria-expanded='false' aria-controls='collapse11')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Enteroscopia
                            #collapse11.collapse(aria-labelledby='heading11' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor.

                        .card
                            #heading12.card-header.position-relative
                                h5.mb-0
                                    button.btn.btn_ghost.collapsed(type='button' data-toggle='collapse' data-target='#collapse12' aria-expanded='false' aria-controls='collapse12')
                                    .title.pl-3.py-4.py-3--darkgray
                                        span.icon.icon_acc
                                        span Ecoendoscopia
                            #collapse12.collapse(aria-labelledby='heading12' data-parent='#accordionExample')
                                .card-body
                                    p.cl--gray Lorem ipsum dolor sit amet consectetur adipiscing elit, mi vehicula scelerisque class praesent rhoncus, tempor commodo pretium proin congue hac. Nullam curabitur proin feugiat cursus posuere risus gravida montes, tellus ultricies orci maecenas molestie suscipit dapibus, mus fusce convallis nostra rutrum est sed. Vehicula et euismod pulvinar nascetur orci pharetra odio suscipit, nostra curabitur sed eleifend nulla felis nunc, ultricies tristique scelerisque arcu ut mollis tempor. user